{% extends "users/base.html" %} {% block title %} 我的信息 {% endblock title %} {% block body %}
<div class="jumbotron">
    <h1>
        报价平台
    </h1>
    <p>
        在这里查看采购单和报价单
    </p>
</div>
<div class="row clearfix"></div>
<div class="col-md-6 column">
    <h2>
        订购单
    </h2>
    <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
        <a class="btn" href="#">查看更多</a>
    </p>
</div>
<div class="col-md-6 column">
    <h2>
        供货单
    </h2>
    <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
        <a class="btn" href="#">查看更多</a>
    </p>
</div>
{% endblock body %}