{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">
    <title>{% block title %}{% endblock title %}</title>
    {% block style %} {% endblock style %}
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/index/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="/static/index/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/static/index/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand" href="/">主页ICON</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/orders">查看订购单</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% block body %} {% endblock body %}
            </div>
        </div>
    </div>
</body>

</html>